<ul class="row">
    {% for post in recent_posts %}
        <li class="sidebar-post">
            <a title="post.title" href="{{ post.url }}">
                {{ post.title }}
            </a>
        </li>
    {% endfor %}
</ul>
